<%- include('layouts/header') %>
      <%- include('layouts/nav') %>
<div class="h-screen w-screen bg-gray-100 flex items-center">
	<div class="container flex space-x-4 flex-col md:flex-row items-center justify-center px-5 text-gray-700">
   		<div class="max-w-md">
         <p>Succes : <%= success %> </p>
      		<div class="text-5xl font-dark font-bold"><%= status %></div>
            <p
              class="text-2xl md:text-3xl font-light leading-normal"
            ><%= message %></p>
          <p class="mb-8">But dont worry, we provide this video for you !</p>
          
          <button onclick="history.back()" class="px-4 inline py-2 text-sm font-medium leading-5 shadow text-white transition-colors duration-150 border border-transparent rounded-lg focus:outline-none focus:shadow-outline-blue bg-teal-600 active:bg-teal-600 hover:bg-teal-700">
            go back 
          </button>
    </div>
      <div class="max-w-lg">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sdQKeXe3rzQ?autoplay=1" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
     </div>
    
  </div>
</div>
<%- include('layouts/footer') %>